* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.mother {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.parentImage {
  position: relative;
}
.parentImage img {
  height: 600px;
  width: 400px;
}

.firstImage {
  position: absolute;
  top: 60px;
  left: 50px;
}
.firstImage img {
  width: 410px;
  height: 240px;
}

.secondImage {
  position: absolute;
  top: 320px;
  left: 140px;
}

.secondImage img {
  width: 410px;
  height: 240px;
}

.ThirdImage {
  position: absolute;
  top: 90px;
  left: 80px;
}

.ThirdImage img {
  width: 90px;
  height: 50px;
}

.FirstContent {
  position: absolute;
  top: 220px;
  left: 80px;
}
.FirstContent span {
  color: hsl(270, 3%, 87%);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 6px;
  word-spacing: 1px;
}

.ContentFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 260px;
  left: 80px;
}

.ContentFlex .firstContentFlex {
  padding-right: 165px;
}
.ContentFlex .firstContentFlex span {
  color: hsl(270, 3%, 87%);
  font-size: 13px;
  font-weight: 500;
}

.ContentFlex .secondContentFlex p {
  color: hsl(270, 3%, 87%);
  font-size: 13px;
  font-weight: 500;
}

.ContentFlex .secondContentFlex span {
  color: hsl(270, 3%, 87%);
  font-size: 13px;
  font-weight: 500;
}

.ThirdContent {
  position: absolute;
  top: 430px;
  left: 470px;
}

.ThirdContent span {
  color: hsl(270, 3%, 87%);
  font-size: 13px;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form {
  /* text-align: center; */
  margin: 100px 180px;
  padding: 100px 90px;
  width: 450px;
}

.form input {
  width: 350px;
  padding: 10px 24px;
  border-radius: 5px;
}

.sec {
  margin-bottom: 15px;
}
.message {
  font-size: 13px;
}

.mess {
  font-size: 10px;
}
.messages {
  font-size: 13px;
}
.motherFlex {
  display: flex;
  padding-top: 15px;
}

.subFlex {
  display: flex;
}

.firstSubFlex {
  padding-right: 10px;
}
.firstSubFlex input {
  width: 80px;
  border-radius: 5px;
}
.SecondSubFlex input {
  width: 80px;
  border-radius: 5px;
}

.SecondFlex {
  padding-left: 10px;
}
.SecondFlex input {
  width: 170px;
  border-radius: 5px;
}

.confirm {
  background-color: hsl(278, 68%, 11%);
  padding: 10px 25px;
  border-radius: 5px;
}

.confirm h3 {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 15px;
}
